{
    CFBundleDevelopmentRegion = English;
    CFBundleDisplayName = "2048oard";
    CFBundleExecutable = "2048oard";
    CFBundleIconFile = "2048oard.png";
    CFBundleIdentifier = "com.uroboro.2048oard";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = "2048oard";
    CFBundlePackageType = APPL;
    CFBundleResourceSpecification = "ResourceRules.plist";
    CFBundleShortVersionString = "1.0.0";
    CFBundleSignature = "????";
    CFBundleSupportedPlatforms =     (
        iPhoneOS
    );
    CFBundleVersion = "1.0";
    MinimumOSVersion = "4.0";
    SBIconClass = "SB2048Icon";
    UIStatusBarHidden = 1;
}
